.roadtb {
    border-collapse: collapse;
    border: 0;
}

.roadtb > tbody th,td {
    padding: 0.6rem;
    text-align: left;
    margin: 0;
}

.roadtb > tbody th {
    width: 40%;
    background-color: #f8f8f8;
}

.roadtb > tbody th,td {
    border: 1px solid #aaa;
    background-clip: padding-box;
    scroll-snap-align: start;
}